* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 1px;
  line-height: 10px;
  font-family: 'Sintony', sans-serif;
}

* button {
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  text-align: center;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(54, 57, 70, 0.5);
          box-shadow: 0px 1px 1px 1px rgba(54, 57, 70, 0.5);
  border: 1px solid #746c75;
}

* .main {
  position: relative;
}

* .main nav {
  background-color: #f7f7f7;
  color: #363946;
}

* .main nav .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 25px;
}

* .main nav .navBar div {
  margin-top: auto;
  margin-bottom: auto;
}

* .main nav .navBar .navLogo img {
  height: 30px;
}

* .main nav .navBar .navItems {
  font-size: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
}

* .main nav .navBar .navItems div {
  margin-left: 20px;
}

* .main nav .navBar .navMenu {
  cursor: pointer;
}

* .main nav .navBar .navMenu div {
  width: 22px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

* .main header {
  background-image: url("../images/tech1.jpg");
  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* .main header .mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 25px;
}

* .main header .mainHeader .headerContent {
  color: #ffffff !important;
  text-align: center;
}

* .main header .mainHeader .headerContent h1 {
  font-weight: bold;
  font-size: 2.5em;
  padding: 10px 0;
}

* .main header .mainHeader .headerContent p {
  font-style: italic;
  font-size: 1em;
  padding: 10px 0;
}

* .main header .mainHeader .headerButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
}

* .main header .mainHeader .headerButtons button {
  color: white;
  padding: 15px 0px;
  margin: 10px 0;
  width: 100%;
}

* .main header .mainHeader .headerButtons button:first-child {
  background-color: transparent;
  border: 1px solid white;
}

* .main header .mainHeader .headerButtons button:last-child {
  background-color: #2d51a3;
  border: 1px solid white;
}

* .main section {
  color: #363946;
}

* .main section .mainSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 25px;
}

* .main section .mainSection .sectionCard {
  text-align: center;
  padding: 20px 8px;
  margin: 20px auto;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(54, 57, 70, 0.5);
          box-shadow: 0px 1px 3px 1px rgba(54, 57, 70, 0.5);
}

* .main section .mainSection .sectionCard .sectionCardBody img {
  height: 100px;
  width: 80px;
  padding: 10px;
}

* .main section .mainSection .sectionCard .sectionCardBody h1 {
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px 0;
}

* .main section .mainSection .sectionCard .sectionCardBody p {
  font-style: italic;
  font-size: 1em;
  padding: 10px 0;
}

* .main section .mainSection .sectionCard .sectionButton {
  margin-top: 20px;
}

* .main section .mainSection .sectionCard .sectionButton a {
  font-weight: 400;
}

* .main section .mainSection .sectionCard .sectionButton a button {
  color: #363946;
  background-color: transparent;
  padding: 12px 40px;
  border-radius: 3px;
}

* .main section .mainSection1 {
  padding: 70px 25px;
}

* .main section .mainSection1 #speaker {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 80px;
}

* .main section .mainSection1 .section1Card {
  text-align: center;
  padding: 20px 8px;
  margin: auto;
}

* .main section .mainSection1 .section1Card .section1CardBody img {
  border: 1px solid #363946;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(54, 57, 70, 0.5);
          box-shadow: 0px 1px 2px 1px rgba(54, 57, 70, 0.5);
  border-radius: 100%;
  height: 160px;
  margin-bottom: 10px;
}

* .main section .mainSection1 .section1Card .section1CardBody h1 {
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px 0;
}

* .main section .mainSection1 .section1Card .section1CardBody p {
  font-style: italic;
  font-size: 1em;
  padding: 10px 0;
}

* .main section .mainSection1 .section1Card .section1Button {
  margin-top: 20px;
}

* .main section .mainSection1 .section1Card .section1Button a {
  font-weight: 400;
}

* .main section .mainSection1 .section1Card .section1Button a button {
  color: #363946;
  background-color: transparent;
  padding: 12px 40px;
  border-radius: 3px;
}

* section .mainForm {
  padding: 70px 25px;
}

* section .mainForm h1 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 80px;
}

* section .mainForm form label {
  display: block;
  font-size: 1.2em;
  margin: 10px 0;
}

* section .mainForm form input {
  text-transform: uppercase;
  width: 100%;
  outline: 0px;
  margin-bottom: 20px;
  font-size: 1.2em;
  border: none;
  border-bottom: 1px solid #ccc1cd;
  background-color: #fafafa;
  color: #805183;
  padding: 6px 30px;
  -webkit-box-shadow: 1px 1px 1px 0px;
          box-shadow: 1px 1px 1px 0px;
}

* section .mainForm form textarea {
  text-transform: uppercase;
  display: block;
  width: 100%;
  outline: 0px;
  font-size: 1.2em;
  resize: none;
  height: 300px;
  overflow: auto;
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc1cd;
  background-color: #fafafa;
  color: #805183;
  padding: 15px 30px;
  -webkit-box-shadow: 1px 1px 1px 0px;
          box-shadow: 1px 1px 1px 0px;
}

* section .mainForm form button {
  -webkit-box-shadow: 0px 1px 1px 1px rgba(54, 57, 70, 0.5);
          box-shadow: 0px 1px 1px 1px rgba(54, 57, 70, 0.5);
  display: block;
  background: transparent;
  color: #363946;
  margin: auto;
  padding: 15px 0px;
  width: 100%;
}

* section .mainMap {
  padding-top: 70px;
}

* section .mainMap h1 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 80px;
}

* section .mainMap iframe {
  width: 100%;
  height: 450px;
  border: 0;
}

* footer {
  background: #000;
  color: #ccc;
}

* footer .mainFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 25px;
  text-align: center;
}

* footer .mainFooter div {
  margin: 5px;
}

* footer .mainFooter div a {
  text-decoration: none;
}

* footer .mainFooter div a i {
  color: #ccc;
  margin: 3px;
}

@media (min-width: 415px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }
  header .wrapper {
    width: 70%;
  }
  header .wrapper .mainHeader {
    padding: 320px 10px !important;
  }
  header .wrapper .mainHeader .headerButtons {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  header .wrapper .mainHeader .headerButtons button {
    margin: 0 5px !important;
  }
}

@media (min-width: 768px) {
  nav {
    position: fixed;
    width: 100%;
  }
  nav .navLogo img {
    height: 50px !important;
  }
  header {
    padding-top: 64.2px;
  }
  header .wrapper {
    width: 50%;
  }
  section .mainSection {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section .mainSection .sectionCard {
    -ms-flex-preferred-size: 47% !important;
        flex-basis: 47% !important;
  }
  section .mainForm {
    width: 80%;
    margin: auto;
  }
  footer .mainFooter {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1025px) {
  nav .navItems {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  nav .navMenu {
    display: none;
  }
  section .mainSection .sectionCard {
    -ms-flex-preferred-size: 30% !important;
        flex-basis: 30% !important;
  }
}

@media (min-width: 1400px) {
  section .mainSection .sectionCard {
    -ms-flex-preferred-size: 24% !important;
        flex-basis: 24% !important;
  }
}
/*# sourceMappingURL=main.css.map */